.f1 {
  font-size: 3rem
}
.f3 {
  font-size: 1.5rem;
}
.f4 {
  font-size: 1.25rem
}
.f6 {
  font-size: .875rem
}
.fw6 {
  font-weight: 600
}
.link {
  text-decoration: none
}
.link,.link:active,.link:focus,.link:hover,.link:link,.link:visited {
  transition: color .15s ease-in
}
.link:focus {
  outline: 1px dotted currentColor
}
.dim {
  opacity: 1
}
.dim,.dim:focus,.dim:hover {
  transition: opacity .15s ease-in
}
.dim:focus,.dim:hover {
  opacity: .5
}
.dim:active {
  opacity: .8;
  transition: opacity .15s ease-out
}
.underline {
  text-decoration: underline;
}
.pa2 {
  padding: .5rem
}
.pa3 {
  padding: 1rem
}
.pa4 {
  padding: 2rem
}
.ph0 {
  padding-left: 0;
  padding-right: 0
}
.ph3 {
  padding-left: 1rem;
  padding-right: 1rem
}
.pv2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}
.black {
  color: #000
}
.white {
  color: #fff
}
.black-80 {
  color: rgba(0,0,0,.8)
}
.bg-light-purple {
  background-color: #a463f2
}
.bg-dark-pink {
  background-color: #d5008f
}
.bg-white-op {
  background-color: rgba(255,255,255,.03);
}
.bg-transparent {
  background-color: transparent
}
.b--black {
  border-color: #000
}
.b--white {
  border-color: #fff
}
.b--black-10 {
  border-color: rgba(0,0,0,.1)
}
.b--transparent {
  border-color: transparent
}
.hover-bg-black:focus,.hover-bg-black:hover {
  background-color: #000
}
.hover-white:focus,.hover-white:hover {
  color: #fff
}
.pointer:hover,.shadow-hover {
  cursor: pointer
}
.ma4 {
  margin: 2rem
}
.mt0 {
  margin-top: 0
}
.mt2 {
  margin-top: .5rem
}
.mt3 {
  margin-top: 1rem
}
.mh0 {
  margin-left: 0;
  margin-right: 0
}
.mv4 {
  margin-top: 2rem;
  margin-bottom: 2rem
}
.measure {
  max-width: 30em
}
.mw6 {
  max-width: 32rem
}
.ba {
  border-style: solid;
  border-width: 1px
}
.br2 {
  border-radius: .25rem
}
.br3 {
  border-radius: .5rem
}
.shadow-2 {
  box-shadow: 0 0 8px 2px rgba(0,0,0,.2)
}
.shadow-5 {
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2)
}
.w-30 {
  width: 30%
}
.w-70 {
  width: 70%
}
.w-100 {
  width: 100%
}
.center {
  display: flex;
  justify-content: center;
}
.grow {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out
}
.grow:focus,.grow:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}
.grow:active {
  -webkit-transform: scale(.9);
  transform: scale(.9)
}
.db {
  display: block
}
.dib {
  display: inline-block
}
.tc {
  text-align: center
}
.absolute {
  position: absolute
}
.lh-copy-ns {
  line-height: 1.5
}
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none
}
.button-reset::-moz-focus-inner,.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0
}
@media screen and (min-width: 30em) and (max-width:60em) {
  .w-50-m {
    width: 50%
  }
}
@media screen and (min-width: 60em) {
  .w-25-l {
    width: 40%
  }
}

